*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  display: block;
}

html,
body {
  height: 100%;
}

.off {
  display: none !important;
}

body {
  background-color: #EAEAEA;
  z-index: 1;
}

.header {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__main {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  font-size: 15px;
}
.header .header__main i {
  color: #838383;
  font-size: 22px;
}
.header .header__main i:hover {
  color: #FFA542;
}
.header .header__main .header__left {
  display: flex;
  gap: 75px;
  max-width: 500px;
}
.header .header__main .header__left .header__logo {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header .header__main .header__left .header__logo a {
  text-decoration: none;
  color: black;
}
.header .header__main .header__left .header__menu {
  display: flex;
  width: 300px;
  font-weight: 500;
  width: 300px;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}
.header .header__main .header__left .header__menu .menu__btn {
  display: flex;
  align-items: center;
}
.header .header__main .header__left .header__menu .menu__btn:hover {
  cursor: pointer;
}
.header .header__main .header__left .header__menu .menu__btn .btn__text {
  max-width: 240px;
  margin-left: 15px;
  margin-right: 4px;
}
.header .header__main .header__left .header__menu .menu__btn .fa-chevron-down,
.header .header__main .header__left .header__menu .menu__btn .fa-chevron-up {
  color: black;
  font-size: 9px;
  text-align: start;
}
.header .header__main .header__left .header__menu .menu__options {
  position: absolute;
  top: 35px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 33px 15px 33px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .header__main .header__left .header__menu .menu__options .menu__option:hover {
  cursor: pointer;
  color: #FFA542;
}
.header .header__main .header__left .header__menu .inactive {
  display: none;
}
.header .header__main .header__right {
  display: flex;
  align-items: center;
  margin-right: 6px;
  gap: 24px;
}
.header .header__main .header__right:hover {
  cursor: pointer;
}
.header .header__main .header__right .header__burger {
  display: none;
  justify-content: center;
  width: 20px;
  height: 18px;
  flex-direction: column;
  gap: 3px;
}
.header .header__main .header__right .header__burger .burger__line {
  height: 4px;
  width: 20px;
  background-color: #838383;
}
.header .header__main .header__right .header__burger .burger__line:hover {
  cursor: pointer;
}
.header .header__mobile__menu {
  display: flex;
  width: 100%;
  font-weight: 500;
  width: 300px;
  position: relative;
  border-radius: 0px 0px 30px 30px;
  display: none;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 40px;
  padding-bottom: 30px;
}
.header .header__mobile__menu .menu__btn {
  display: flex;
  align-items: center;
}
.header .header__mobile__menu .menu__btn:hover {
  cursor: pointer;
}
.header .header__mobile__menu .menu__btn .btn__text {
  max-width: 240px;
  margin-left: 15px;
  margin-right: 4px;
}
.header .header__mobile__menu .menu__btn .fa-chevron-down,
.header .header__mobile__menu .menu__btn .fa-chevron-up {
  color: black;
  font-size: 9px;
  text-align: start;
}
.header .header__mobile__menu .menu__options {
  position: static;
  top: 35px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 33px 15px 33px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .header__mobile__menu .menu__options .menu__option:hover {
  cursor: pointer;
  color: #FFA542;
}
.header .header__mobile__menu .inactive {
  display: none;
}
.header .header__mobile__menu .mobile__item__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .header__mobile__menu .menu__options {
  padding-bottom: 0;
}
.header .header__mobile__menu .item__span {
  margin-left: 15px;
}
.header .header__mobile__menu .item__span a {
  text-decoration: none;
  color: black;
}
.header .header__mobile__menu .mobile__menu-item:hover .item__span a {
  color: #FFA542;
}

@media screen and (max-width: 700px) {
  .header .header__main {
    display: flex;
  }
  .header .header__main .header__left .header__menu {
    display: none;
  }
  .header .header__main .header__right .header__burger {
    display: flex;
  }
  .header .active {
    display: flex;
  }
}
.off {
  display: none !important;
}

.footer .footer-container {
  height: 107px;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
}
.footer .footer-container .footer-item .footer__logo {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-item .footer__logo a {
  text-decoration: none;
  color: black;
}
.footer .footer-container .footer-item .footer__ul .footer__li a {
  text-decoration: none;
  color: black;
}
.footer .footer-container .footer-item .footer__ul .footer__li:not(:nth-child(2n)) {
  margin-bottom: 8px;
}
.footer .footer-container .footer-item .footer__ul .footer__li:hover a {
  color: #FFA542;
}
@media screen and (max-width: 700px) {
  .footer {
    display: none;
  }
}

.off {
  display: none !important;
}

.header {
  margin-bottom: 61px;
}

.cart {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.cart .cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 127px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .cart .cart-empty {
    justify-content: space-between;
    height: 80vh;
    padding: 0;
  }
}
.cart .cart-empty .empty-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart .cart-empty .empty-words .empty-img {
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .cart .cart-empty .empty-words .empty-img {
    width: 80%;
    margin: 30px 10px;
  }
}
.cart .cart-empty .empty-words .empty-h3 {
  font-weight: 500;
  font-size: 30px;
}
.cart .cart-empty .empty-words .empty-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
  padding-bottom: 30px;
}
.cart .cart-empty .empty-btn {
  border: none;
  color: white;
  background-color: black;
  width: 540px;
  height: 65px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.cart .cart-empty .empty-btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .cart .cart-empty .empty-btn {
    width: 100%;
    margin: 0 10px;
  }
}

.off {
  display: none !important;
}

.cart__label {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 13px;
}

.cart-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}
@media screen and (max-width: 1050px) {
  .cart-inner {
    flex-direction: column;
    align-items: center;
  }
}
.cart-inner .carts {
  flex: 2;
  padding: 0;
  max-width: 633px;
}
@media screen and (max-width: 1050px) {
  .cart-inner .carts {
    max-width: none;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .cart-inner .carts {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .cart-inner .carts .cart__container {
    margin-bottom: 30px;
  }
}
.cart-inner .carts .cart__container .cart-item {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  min-height: 218px;
}
.cart-inner .carts .cart__container .cart-item:not(:last-child) {
  margin-bottom: 13px;
}
.cart-inner .carts .cart__container .cart-item .item__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cart-inner .carts .cart__container .cart-item .item__left .item__buttons {
  display: flex;
  align-items: center;
  gap: 23px;
}
.cart-inner .carts .cart__container .cart-item .item__left .item__buttons b, .cart-inner .carts .cart__container .cart-item .item__left .item__buttons button {
  display: inline-block;
}
.cart-inner .carts .cart__container .cart-item .item__left .item__buttons .item__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;
  color: white;
  background-color: #FFA542;
  transition: 0.2s ease-in-out;
}
.cart-inner .carts .cart__container .cart-item .item__left .item__buttons .item__button:hover {
  cursor: pointer;
  background-color: #838383;
}
.cart-inner .carts .cart__container .cart-item .item__left .item__img {
  width: 90px;
  height: 130px;
}
.cart-inner .carts .cart__container .cart-item .item__center {
  flex: 2;
}
.cart-inner .carts .cart__container .cart-item .item__center .item__words {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  padding-bottom: 12px;
}
.cart-inner .carts .cart__container .cart-item .item__center .item__price {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #838383;
}
.cart-inner .carts .cart__container .cart-item .item__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 130px;
}
.cart-inner .carts .cart__container .cart-item .item__right .imgDelete {
  flex: 2;
  height: 25px;
  width: 22px;
}
.cart-inner .carts .cart__container .cart-item .item__right .imgDelete:hover {
  cursor: pointer;
}
.cart-inner .confirm {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  max-height: 120px;
  background-color: #fff;
}
@media screen and (max-width: 1050px) {
  .cart-inner .confirm {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .cart-inner .confirm {
    width: 100%;
  }
}
.cart-inner .confirm .confirm__inner {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.cart-inner .confirm .confirm__button {
  border: none;
  color: white;
  background-color: black;
  width: 350px;
  height: 65px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  align-self: center;
}
.cart-inner .confirm .confirm__button:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .cart-inner .confirm .confirm__button {
    width: 100%;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1050px) {
  .cart-inner .confirm .confirm__button {
    width: 60%;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}/*# sourceMappingURL=cart.css.map */