*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  display: block;
}

html,
body {
  height: 100%;
}

.off {
  display: none !important;
}

body {
  background-color: #EAEAEA;
  z-index: 1;
}

.header {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__main {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  font-size: 15px;
}
.header .header__main i {
  color: #838383;
  font-size: 22px;
}
.header .header__main i:hover {
  color: #FFA542;
}
.header .header__main .header__left {
  display: flex;
  gap: 75px;
  max-width: 500px;
}
.header .header__main .header__left .header__logo {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header .header__main .header__left .header__logo a {
  text-decoration: none;
  color: black;
}
.header .header__main .header__left .header__menu {
  display: flex;
  width: 300px;
  font-weight: 500;
  width: 300px;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}
.header .header__main .header__left .header__menu .menu__btn {
  display: flex;
  align-items: center;
}
.header .header__main .header__left .header__menu .menu__btn:hover {
  cursor: pointer;
}
.header .header__main .header__left .header__menu .menu__btn .btn__text {
  max-width: 240px;
  margin-left: 15px;
  margin-right: 4px;
}
.header .header__main .header__left .header__menu .menu__btn .fa-chevron-down,
.header .header__main .header__left .header__menu .menu__btn .fa-chevron-up {
  color: black;
  font-size: 9px;
  text-align: start;
}
.header .header__main .header__left .header__menu .menu__options {
  position: absolute;
  top: 35px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 33px 15px 33px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .header__main .header__left .header__menu .menu__options .menu__option:hover {
  cursor: pointer;
  color: #FFA542;
}
.header .header__main .header__left .header__menu .inactive {
  display: none;
}
.header .header__main .header__right {
  display: flex;
  align-items: center;
  margin-right: 6px;
  gap: 24px;
}
.header .header__main .header__right:hover {
  cursor: pointer;
}
.header .header__main .header__right .header__burger {
  display: none;
  justify-content: center;
  width: 20px;
  height: 18px;
  flex-direction: column;
  gap: 3px;
}
.header .header__main .header__right .header__burger .burger__line {
  height: 4px;
  width: 20px;
  background-color: #838383;
}
.header .header__main .header__right .header__burger .burger__line:hover {
  cursor: pointer;
}
.header .header__mobile__menu {
  display: flex;
  width: 100%;
  font-weight: 500;
  width: 300px;
  position: relative;
  border-radius: 0px 0px 30px 30px;
  display: none;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 40px;
  padding-bottom: 30px;
}
.header .header__mobile__menu .menu__btn {
  display: flex;
  align-items: center;
}
.header .header__mobile__menu .menu__btn:hover {
  cursor: pointer;
}
.header .header__mobile__menu .menu__btn .btn__text {
  max-width: 240px;
  margin-left: 15px;
  margin-right: 4px;
}
.header .header__mobile__menu .menu__btn .fa-chevron-down,
.header .header__mobile__menu .menu__btn .fa-chevron-up {
  color: black;
  font-size: 9px;
  text-align: start;
}
.header .header__mobile__menu .menu__options {
  position: static;
  top: 35px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 33px 15px 33px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .header__mobile__menu .menu__options .menu__option:hover {
  cursor: pointer;
  color: #FFA542;
}
.header .header__mobile__menu .inactive {
  display: none;
}
.header .header__mobile__menu .mobile__item__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .header__mobile__menu .menu__options {
  padding-bottom: 0;
}
.header .header__mobile__menu .item__span {
  margin-left: 15px;
}
.header .header__mobile__menu .item__span a {
  text-decoration: none;
  color: black;
}
.header .header__mobile__menu .mobile__menu-item:hover .item__span a {
  color: #FFA542;
}

@media screen and (max-width: 700px) {
  .header .header__main {
    display: flex;
  }
  .header .header__main .header__left .header__menu {
    display: none;
  }
  .header .header__main .header__right .header__burger {
    display: flex;
  }
  .header .active {
    display: flex;
  }
}
.off {
  display: none !important;
}

.footer .footer-container {
  height: 107px;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
}
.footer .footer-container .footer-item .footer__logo {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-item .footer__logo a {
  text-decoration: none;
  color: black;
}
.footer .footer-container .footer-item .footer__ul .footer__li a {
  text-decoration: none;
  color: black;
}
.footer .footer-container .footer-item .footer__ul .footer__li:not(:nth-child(2n)) {
  margin-bottom: 8px;
}
.footer .footer-container .footer-item .footer__ul .footer__li:hover a {
  color: #FFA542;
}
@media screen and (max-width: 700px) {
  .footer {
    display: none;
  }
}

.off {
  display: none !important;
}

.contacts {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 30px;
  gap: 61px;
}
@media screen and (max-width: 1000px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.contacts .map {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding-left: 17px;
  max-width: 760px;
  padding-right: 20px;
}
@media screen and (max-width: 1000px) {
  .contacts .map {
    width: 100%;
  }
  .contacts .map iframe {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .contacts .map iframe {
    height: 300px;
  }
}
.contacts .map .map__h2 {
  padding-top: 15px;
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 20px;
}
.contacts .map #map-element {
  max-width: 722px;
  max-height: 424px;
}
@media screen and (max-width: 1000px) {
  .contacts .map #map-element {
    width: 100%;
  }
}
.contacts .map .map__adress {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 27px;
}
.contacts .map .map__adress .h3__adress {
  font-weight: 500;
  font-size: 15px;
}
.contacts .map .map__adress .h3__adress .span-grey {
  font-weight: 500;
  font-size: 13px;
  color: #838383;
}
.contacts .map .map__adress .fa-solid {
  font-size: 20px;
}
.contacts .contacts__blocks {
  display: grid;
  grid-template-rows: repeat(4, 97px);
  gap: 15px;
}
@media screen and (max-width: 1000px) {
  .contacts .contacts__blocks {
    width: 100%;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    grid-template-rows: repeat(1, minmax(160px, 1fr));
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .contacts .contacts__blocks {
    width: 100%;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-template-rows: repeat(2, minmax(130px, 1fr));
    justify-content: center;
    align-items: center;
  }
}
.contacts .contacts__blocks .blocks__item {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 0;
  border: none;
  width: 97px;
  height: 97px;
  font-size: 50px;
}
@media screen and (max-width: 1000px) {
  .contacts .contacts__blocks .blocks__item {
    width: 100%;
    height: 100%;
    font-size: 80px;
  }
}
@media screen and (max-width: 500px) {
  .contacts .contacts__blocks .blocks__item {
    width: 100%;
    height: 100%;
    font-size: 60px;
  }
}/*# sourceMappingURL=contacts.css.map */